.jumbotron{
  /*padding-top: 50px;*/
  background-color: #2d2d2d;
  color: #e9e9e9;
  text-align: center;
}

.btn-lg{
  margin:10px;
  border-radius: 0px;
}

.well{
  width:50%;
  margin:auto;
  border-radius:100px;
  padding:10px;
}

.tabs{
  color:white;
  background-color: #3E4D4C;
  margin: 0;
  padding: 0;
}

.tab-link{
  display: inline-block;
  padding:1em;
  color:white;
  font-size: 2em;
}

.tab-link:hover, .active{
  background-color: white;
  color: black;
}

.btn-primary{
  margin-left:20px;
}

#tab-container{
  width: 60%;
  margin: auto;
  border: 2px solid #3E4D4C;
}

#timer-message{
  font-size:60px;
}

#timer{
  font-size: 6em;
}

#content{
  padding:20px;
  font-size: 1.5em;
}

#timer-settings{
  font-size: 2em;
  text-align: center;
  border:thin solid black;
  width:50%;
  margin:30px auto;
}

#timer-settings > h2{
  color:white;
  margin:0;
  background-color: #006CC7;
  padding:20px;
}
